<div class="page-header">
  <h1>Hackables <small>Getting started guides</small></h1>
</div>

<div class="row">

  <table class="table table-striped">
    <thead><tr><th><b>Guide Title</b></th><th><b>About</b></th></tr></thead>
    <% @guides.each do |p| %>
      <tr>
      <td><%= link_to p.title, p %></td>
      <td><%= p.description %></td>
      </tr>
    <% end %>
  </table>
<%= link_to "<span class='glyphicon glyphicon glyphicon-plus' aria-hidden='true'></span> Add Guide".html_safe, new_guide_path, :class=>"btn btn-default" %>

</div>